/*
** #363940 #4F5359 #7D848C #979DA6 #232429
*/

html,
body {
    height: 100% !important;
    background-color: #232429 !important;
    line-height: 2em !important;
}

a {
    color: #cfecff !important;
    text-decoration: none !important;
}

a:focus {
    outline: initial !important;
}

a:active {
    background-color: initial !important;
    color: #bbbbbb !important;
}

span,
td {
    color: #ffffff !important;
    background-color: inherit !important;
}

a>span {
    color: #cfecff !important;
}

div {
    color: #ffffff !important;
}

select {
    background-color: #4f5359 !important;
    color: #ffffff !important;
}

select:hover {
    background-color: #7d848c !important;
}


/* login and inputs*/

#loginBtn {
    background: #4f5359 !important;
    border: initial !important;
    color: #ffffff !important;
    padding: 10px 20px 10px 20px !important;
}

#loginBtn:hover {
    background-color: #7d848c !important;
    cursor: pointer !important;
}

#officeName,
input[type=text],
input[type=password] {
    color: #ffffff !important;
    background-color: #bbbbbb !important;
    border: initial !important;
    transition: background-color 0.5s ease !important;
}

#officeName:focus,
input[type=text]:focus,
input[type=password]:focus {
    background-color: #7d848c !important;
}

::-webkit-input-placeholder {
    color: #e9e9e9 !important;
}


/* header and navigation bar */

#ccNavHeader {
    position: fixed !important;
    top: 0 !important;
    border-bottom: initial !important;
    z-index: 9999;
}

#ccQHeader {
    display: none !important;
}

#ccQTool {
    border: initial !important;
    margin: 0 !important;
}

#ccTabs {
    background-color: #363940 !important;
}

#ccTabsL {
    width: 150px;
    padding-left: initial !important;
    text-align: center !important;
}

#ccTabsR {
    white-space: nowrap !important;
}

#logo {
    display: inline-block;
    height: 45px;
    vertical-align: middle;
}

#logo>img {
    height: 100%;
    vertical-align: middle;
}

.ccPDMenu {
    background-color: #363940 !important;
    outline: none !important;
}

.ccTabPDMenu {
    background-color: #363940 !important;
}

.ccDialog {
    border: initial !important;
    border-radius: initial !important;
}

.ccDialog:hover {
    box-shadow: 1px 1px 5px 5px rgba(15, 15, 15, 0.2) !important;
}

.ccDH {
    background: #363940 !important;
}

.ccHidden:focus {
    outline: none !important;
}

.ccDBody {
    background: #4f5359 !important;
}

.ccDFooter {
    background: #363940 !important;
}

#ccTabs a {
    color: #ffffff !important;
}

#ccQIcons>a:hover {
    background-color: #4f5359 !important;
}

li.ccQItem:hover,
.ccQList.myTools>li.ccQItem:hover,
.ccQList.myAccount>li.ccQItem:hover {
    outline: initial !important;
    background-color: rgba(255, 255, 255, 0.2) !important;
}

.ccQList>li {
    transition: initial !important;
    white-space: normal !important;
}

ul.ccPDMenu a:hover,
ul.ccPDMenu a:focus {
    background-color: #4f5359 !important;
}


/* left navigation bar */

#ccNavMenu {
    padding-top: 60px !important;
    background-color: #4f5359 !important;
}

#ccNavShortcut {
    padding-top: 60px !important;
    background-color: #4f5359 !important;
}

.ccMenuHeader {
    background-color: initial !important;
    border: initial !important;
}

#ccNavMenu a {
    color: #ffffff !important;
}

#ccSCFullMenu,
div.ccSCGroup {
    background-color: #4f5359 !important;
    border: initial !important;
    box-shadow: rgba(15, 15, 15, 0.2) 1px 1px 5px 5px !important;
}

#ccSCFullMenu:focus,
div.ccSCGroup:focus {
    outline: none !important;
}

div.ccMenu>div>a {
    background-color: initial !important;
    border: initial !important;
}

div.ccMenu>div:hover {
    background-color: rgba(255, 255, 255, 0.2) !important;
}

div.ccMenuOn {
    background-color: #363940 !important;
}

ul.ccList>li {
    list-style-image: none !important;
}

#ccSCFullMenu ul>li:hover {
    background-color: rgba(255, 255, 255, 0.2) !important;
}

#ccSC>ul>li:hover {
    background-color: rgba(255, 255, 255, 0.2) !important;
}

#ccSC>ul>li.ccSCOn {
    background-color: #363940 !important;
}

.ccHover:hover,
table.ccLayout>tbody>tr.ccHover:hover {
    background-color: #4f5359 !important;
    outline: none !important;
}

.ccHover {
    transition: none !important;
}


/* main container */

#ccNavBody {
    height: 100% !important;
}

#ccNavApp {
    height: 100% !important;
    margin-top: initial !important;
}

#ccApp {
    height: 100% !important;
}

#ccNavContent {
    padding-top: 60px !important;
    background-color: #232429 !important;
}

#calNav {
    background-color: #4f5359 !important;
}

.ccToolbar {
    background-color: initial !important;
    border: initial !important;
}

.add {
    background: #7d848c !important;
    margin: 0 !important;
    text-align: center !important;
}

.add:hover {
    background: rgba(255, 255, 255, 0.2) !important;
}

.ccBtn {
    color: #ffffff !important;
    border: initial !important;
    background: #7d848c !important;
}

.ccBtn:hover {
    background-color: rgba(255, 255, 255, 0.2) !important;
    cursor: pointer !important;
}

.ccHLit {
    background-color: initial !important;
}

.ccH {
    color: #bbbbbb !important;
}

.ccH2,
.ccH3,
.ccH4,
.ccH5 {
    color: #70e2d9 !important;
}

.ccLabel {
    color: #6bbaf0 !important;
}

.ccBubbleArrow {
    background: initial !important;
    width: 0 !important;
    height: 0 !important;
    border-style: solid !important;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #363940 transparent !important;
}

.ccSearch {
    background-color: #363940 !important;
    border: inherit !important;
}

.ccOutline {
    background-color: #363940 !important;
    border: initial !important;
}

.ccViewOff {
    background-color: #363940 !important;
}

.ccViewOn {
    background-color: #232429 !important;
}

.ccTreeItemOn {
    background-color: #363940 !important;
}

.tree_itemtitle_noclick {
    white-space: normal !important;
}

.ccTreeItem:hover {
    background-color: #4f5359 !important;
}

.ccHLBox {
    background-color: #232429 !important;
    border: initial !important;
}

.ccOutlineH {
    background-color: #4f5359 !important;
    outline: none !important;
}

.bs-docs-sidenav {
    background-color: #363940 !important;
}

.ccGradShadeBox {
    border: initial !important;
    background-color: #4f5359 !important;
}

.title-box {
    background: #4f5359 !important;
}

.title-bg-style,
.title-bg-left,
.title-bg-right {
    background: initial !important;
}

span.ccPagination {
    background-color: #363940 !important;
    outline: none !important;
    border: initial !important;
}

span.ccPagination>span {
    border: initial !important;
}

span.ccPagination>span:hover {
    background-color: #4f5359 !important;
}

td.ccDLabel,
th.ccDLabel {
    background-color: #363940 !important;
    color: #ffffff !important;
    text-align: center !important;
}

table.ccTable>thead>tr {
    background: #363940 !important;
}

table.ccTable>thead>tr>th:hover {
    background-color: #4f5359 !important;
}

table.ccTable>tbody {
    background-color: #7d848c !important;
}

table.ccChannel {
    border: initial !important;
}

td.ccChH {
    background-color: #4f5359 !important;
}

h2.ccChTitle {
    color: #ffffff !important;
}

tr.ccChBody {
    background-color: #363940 !important;
}

.ccChannel .ccItem:hover {
    background-color: rgba(255, 255, 255, 0.2) !important;
}

a.ccIcon {
    background: #4f5359 !important;
    border: initial !important;
    padding: 10px 12px 10px 12px !important;
}

a.ccIcon:hover {
    background-color: rgba(255, 255, 255, 0.2) !important;
}

.ccViewTab>div.ccViewOn {
    background-color: #232429 !important;
}

.ccViewTab>div {
    background-color: #363940 !important;
}

button.ccOp {
    padding: initial !important;
    border: initial !important;
    background: initial !important;
    border-radius: initial !important;
}

button.ccOp:hover {
    background: #7d848c !important;
}

div.ccHArea.shade {
    background-color: #363940 !important;
}

img[src="/img/cc/people_no_text.gif?05021258"] {
    display: none !important;
}

#myClassPage .ccItem:hover {
    background-color: #4f5359 !important;
    outline: none !important;
}

.ccGradShade,
tr.ccGradShade {
    background-color: #363940 !important;
}

#myClassPage .ccItem2 {
    outline: none !important;
}

.cmap-index ul li {
    height: initial !important;
}