/* GPA calculator */

#GPA {
    width: 100%;
    display: table;
    background-color: #4F5359;
    font-size: 16px;
    color: white;
    white-space: nowrap;
    position: fixed;
    bottom: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#GPATitle {
    display: table-cell;
    width: 10%;
    padding: 20px;
    background-color: #363940;
}

#GPAPoints {
    display: table-cell;
    width: 10%;
    padding: 10px;
    background-color: #6f757c;
    font-size: 22px;
}

#GPAModes {
    display: table-cell;
    padding: 20px;
    width: 20%;
}

#GPA button {
    display: table-cell;
    padding: 10px;
    margin: 5px;
    font-size: 16px;
    color: white;
    background-color: #7D848C;
    border: #bbbbbb;
    cursor: pointer;
    transition: all 150ms linear;
    border: 0 none;
}

#GPA button:hover {
    transition: all 150ms linear;
    opacity: .85;
}

#GPA button:active {
    transition: all 150ms linear;
    opacity: .5;
}

#GPA button:focus {
    outline: 1px dotted #959595;
    outline-offset: -4px;
}

#GPA input {
    display: none;
}

#GPA label {
    color: #777;
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
}

#GPA span.big {
    background-color: #22262b;
    border-radius: 50% 50% 50% 50%;
    display: inline-block;
    height: 12px;
    margin-bottom: -11px;
    margin-right: 9px;
    padding: 8px;
    position: relative;
    top: -3px;
    width: 12px;
    cursor: pointer;
}

#GPA span.small {
    border-radius: 50% 50% 50% 50%;
    display: block;
    height: 100%;
    transition: background 0.4s ease 0s;
    width: 100%;
    cursor: pointer;
}

#GPA input[type="radio"]:checked+label {
    color: #ffffff;
}

#GPA input[type="radio"]:checked+label span.small {
    background-color: rgba(64, 124, 255, 0.8);
    opacity: 1;
}