/* Author: Sean Wu
** NCU CSIE, Taiwan 2018
*/

html,
body {
    background-color: #232429 !important;
    height: 100%;
}

tr[bgcolor],
td[bgcolor] {
    background-color: initial !important;
}

/* iframe heights */
.container-fluid,
.row,
.col-xs-12 {
    height: 100% !important;
}

#myFrame {
    height: 99% !important;
}

/* bootstrap */
.panel,
.list-group-item {
    background-color: #4f5359 !important;
}

.panel-body,
.table >tbody > tr {
    color: #e9e9e9 !important;
    background-color: #232429 !important;
}

.panel-body a,
.table a,
.well a {
    color: #e9e9e9 !important;
}

.panel-body a:hover,
.table a:hover,
.well a:hover {
    color: #ffffff !important;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #454a50 !important;
}

.table-hover > tbody > tr:hover {
    background-color: #7d848c !important;
}

legend {
    color: white !important;
}

.well {
    background-color: #7d848c !important;
    color: #e9e9e9 !important;
}

.form-group input[type=text],
.form-group input[type=password] {
    color: #ffffff !important;
    background-color: #4f5359 !important;
    transition: background-color 0.5s ease !important;
}

.form-group input[type=text]:focus,
.form-group input[type=password]:focus {
    background-color: #454a50 !important;
}

.form-control {
    border: 2px solid #7d848c !important;
}

.form-control:focus {
    border: 2px solid #dce4ec !important;
}