/* Author: Sean Wu
** NCU CSIE, Taiwan

** Color Tags: #363940 #4F5359 #7D848C #979DA6 #232429
*/

html,
body {
    height: 100% !important;
    background-color: #232429 !important;
    line-height: 2em !important;
}

a {
    color: #cfecff !important;
    text-decoration: none !important;
}

a:focus {
    outline: initial !important;
}

a:active {
    background-color: initial !important;
    color: #bbbbbb !important;
}

span,
td {
    color: #ffffff !important;
    background-color: inherit !important;
}

a>span {
    color: #cfecff !important;
}

div,
p {
    color: #e9e9e9 !important;
}

select {
    background-color: #4f5359 !important;
    color: #ffffff !important;
}

select:hover {
    background-color: #7d848c !important;
}

/* login and inputs*/

#loginBtn,
input[type=submit][value=登入] {
    background: #4f5359 !important;
    border: initial !important;
    color: #ffffff !important;
    padding: 10px 20px 10px 20px !important;
}

#loginBtn:hover,
input[type=submit][value=登入]:hover {
    background-color: #7d848c !important;
    cursor: pointer !important;
}

#officeName,
input[type=text],
input[type=password] {
    color: #ffffff !important;
    background-color: #bbbbbb !important;
    border: initial !important;
    transition: background-color 0.5s ease !important;
}

#officeName:focus,
input[type=text]:focus,
input[type=password]:focus {
    background-color: #7d848c !important;
}

::-webkit-input-placeholder {
    color: #e9e9e9 !important;
}

/* header and navigation bar */

#ccNavHeader {
    position: fixed !important;
    top: 0 !important;
    border-bottom: initial !important;
    z-index: 999;
}

#ccQHeader {
    display: none !important;
}

#ccQTool {
    border: initial !important;
    margin: 0 !important;
}

#ccTabs {
    background-color: #363940 !important;
}

#ccTabsL {
    width: 150px;
    padding-left: initial !important;
    text-align: center !important;
}

#ccTabsR {
    white-space: nowrap !important;
}

#logo {
    display: inline-block;
    height: 45px;
    vertical-align: middle;
}

#logo>img {
    height: 100%;
    vertical-align: middle;
}

.ccPDMenu {
    background-color: #363940 !important;
    outline: none !important;
}

.ccTabPDMenu {
    background-color: #363940 !important;
}

.ccDialog {
    border: initial !important;
    border-radius: initial !important;
    background: #363940 !important;
}

.ccDialog:hover {
    box-shadow: 1px 1px 5px 5px rgba(15, 15, 15, 0.2) !important;
}

.ccDH {
    background: #363940 !important;
}

.ccHidden:focus {
    outline: none !important;
}

.ccDBody {
    background: #4f5359 !important;
}

.ccDFooter {
    background: #363940 !important;
}

div.ccShade:hover {
    background: #4f5359 !important;
}

#ccTabs a {
    color: #ffffff !important;
}

#ccQIcons>a:hover {
    background-color: #4f5359 !important;
}

li.ccQItem:hover,
.ccQList.myTools>li.ccQItem:hover,
.ccQList.myAccount>li.ccQItem:hover {
    outline: initial !important;
    background-color: rgba(255, 255, 255, 0.2) !important;
}

.ccQList>li {
    transition: initial !important;
    white-space: normal !important;
}

ul.ccPDMenu a:hover,
ul.ccPDMenu a:focus {
    background-color: #4f5359 !important;
}

/* left navigation bar */

#ccNavMenu {
    padding-top: 60px !important;
    background-color: #4f5359 !important;
}

#ccNavShortcut {
    padding-top: 60px !important;
    background-color: #4f5359 !important;
}

.ccMenuHeader {
    background-color: initial !important;
    border: initial !important;
}

#ccNavMenu a {
    color: #ffffff !important;
}

#ccSCFullMenu,
div.ccSCGroup {
    background-color: #4f5359 !important;
    border: initial !important;
    box-shadow: rgba(15, 15, 15, 0.2) 1px 1px 5px 5px !important;
}

#ccSCFullMenu:focus,
div.ccSCGroup:focus {
    outline: none !important;
}

div.ccMenu>div>a {
    background-color: initial !important;
    border: initial !important;
}

div.ccMenu>div:hover {
    background-color: rgba(255, 255, 255, 0.2) !important;
}

div.ccMenuOn,
div.ccShade {
    background-color: #363940 !important;
}

ul.ccList>li {
    list-style-image: none !important;
}

#ccSCFullMenu ul>li:hover {
    background-color: rgba(255, 255, 255, 0.2) !important;
}

#ccSC>ul>li:hover {
    background-color: rgba(255, 255, 255, 0.2) !important;
}

#ccSC>ul>li.ccSCOn {
    background-color: #363940 !important;
}

.ccHover:hover,
table.ccLayout>tbody>tr.ccHover:hover {
    background-color: #4f5359 !important;
    outline: none !important;
}

.ccHover {
    transition: none !important;
}

/* main container */

#ccNavBody {
    height: 100% !important;
}

#ccNavApp {
    height: 100% !important;
    margin-top: initial !important;
}

#ccApp {
    height: 100% !important;
}

#ccNavContent {
    padding-top: 60px !important;
    background-color: #232429 !important;
}

#calNav {
    background-color: #4f5359 !important;
}

#annPopupChannel {
    height: initial !important;
    top: 70px !important;
    background: #4f5359 !important;
    z-index: 100 !important;
}

.ccPadding {
    background-color: initial !important;
}

.ccToolbar {
    background-color: initial !important;
    border: initial !important;
}

.add {
    background: #7d848c !important;
    margin: 0 !important;
    text-align: center !important;
}

.add:hover {
    background: rgba(255, 255, 255, 0.2) !important;
}

.ccBtn {
    color: #ffffff !important;
    border: initial !important;
    background: #7d848c !important;
}

.ccBtn:hover {
    background-color: rgba(255, 255, 255, 0.2) !important;
    cursor: pointer !important;
}

.ccHLit {
    background-color: initial !important;
}

.ccH {
    color: #bbbbbb !important;
}

.ccH2,
.ccH3,
.ccH4,
.ccH5 {
    color: #70e2d9 !important;
}

.ccLabel {
    color: #6bbaf0 !important;
}

.ccBubbleArrow {
    background: initial !important;
    width: 0 !important;
    height: 0 !important;
    border-style: solid !important;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #363940 transparent !important;
}

.ccSearch {
    background-color: #363940 !important;
    border: inherit !important;
}

.ccOutline {
    background-color: #363940 !important;
    border: initial !important;
}

.ccViewOff {
    background-color: #363940 !important;
}

.ccViewOn {
    background-color: #232429 !important;
}

.ccTreeItemOn {
    background-color: #363940 !important;
}

.tree_itemtitle_noclick {
    white-space: normal !important;
}

.ccTreeItem:hover {
    background-color: #4f5359 !important;
}

.ccHLBox {
    background-color: #232429 !important;
    border: initial !important;
}

.ccOutlineH {
    background-color: #4f5359 !important;
    outline: none !important;
}

.bs-docs-sidenav {
    background-color: #363940 !important;
}

.ccGradShadeBox {
    border: initial !important;
    background-color: #4f5359 !important;
}

#ccSidebar .ccLI a:hover {
    background: #4f5359 !important;
}

a.ccArrow:hover {
    background: initial !important;
}

.title-box {
    background: #4f5359 !important;
}

.title-bg-style,
.title-bg-left,
.title-bg-right {
    background: initial !important;
}

span.ccPagination {
    background-color: #363940 !important;
    outline: none !important;
    border: initial !important;
}

span.ccPagination>span {
    border: initial !important;
}

span.ccPagination>span:hover {
    background-color: #4f5359 !important;
}

td.ccDLabel,
th.ccDLabel {
    background-color: #363940 !important;
    color: #ffffff !important;
    text-align: center !important;
}

table.ccTable>thead>tr {
    background: #363940 !important;
}

table.ccTable>thead>tr>th:hover {
    background-color: #4f5359 !important;
}

table.ccTable>tbody {
    background-color: #7d848c !important;
}

table.ccChannel {
    border: initial !important;
}

td.ccChH {
    background-color: #4f5359 !important;
}

h2.ccChTitle {
    color: #ffffff !important;
}

tr.ccChBody {
    background-color: #363940 !important;
}

.ccChannel .ccItem:hover {
    background-color: rgba(255, 255, 255, 0.2) !important;
}

a.ccIcon {
    background: #4f5359 !important;
    border: initial !important;
    padding: 10px 12px 10px 12px !important;
}

a.ccIcon:hover {
    background-color: rgba(255, 255, 255, 0.2) !important;
}

.ccViewTab>div.ccViewOn {
    background-color: #232429 !important;
}

.ccViewTab>div {
    background-color: #363940 !important;
}

button.ccOp {
    padding: initial !important;
    border: initial !important;
    background: initial !important;
    border-radius: initial !important;
    color: #e9e9e9 !important;
}

button.ccOp:hover {
    background: #7d848c !important;
    color: #ffffff !important;
}

#viewSelector a,
#viewSelector a.box {
    border: initial !important;
    background-color: #363940 !important;
    transition: all 0.15s ease 0s !important;
}

#viewSelector a:hover,
#viewSelector a.box:hover {
    background-color: #4f5359 !important;
}

div.ccHArea.shade {
    background-color: #363940 !important;
}

img[src^="/img/cc/people_no_text.gif"] {
    display: none !important;
}

#myClassPage .ccItem:hover {
    background-color: #4f5359 !important;
    outline: none !important;
}

.ccGradShade,
tr.ccGradShade {
    background: #363940 !important;
}

#myClassPage .ccItem2 {
    outline: none !important;
}

.cmap-index ul li {
    height: initial !important;
}

div[style*="background-color:#EEE"] {
    background-color: #4f5359 !important;
}


/* Icons Color Overlay */

.ptool A.pcalendar,
.ptool A.ptasks,
.ptool A.pcontacts,
.ptool A.pfiles,
.ptool A.pwebpages,
.ptool A.pbookmark,
.ptool A.palbums,
.ptool A.pblogs,
.ptool A.ppreferences,
.ptool A.peportfolio,
li[id^="R22\."]>a[style],
li[id^="F22\."]>a[style],
div.ccSCGroup>ul[role="menu"] li[role="menuitem"] a[style],
.icon-msg,
.ccStudent,
#ccSC>ul>li>div>a,
div.ccSCGroupInd,
li.ccQItem.account,
li.ccQItem.logout,
.ccQList>li.ccQItem.email,
.ccQList>LI.ccQItem.calendar,
.ccQList>LI.ccQItem.tasks,
.ccQList>LI.ccQItem.contacts,
.ccQList>LI.ccQItem.files,
.ccQList>LI.ccQItem.webpages,
.ccQList>LI.ccQItem.bookmark,
.ccQList>LI.ccQItem.albums,
.ccQList>LI.ccQItem.blogs {
    background-image: none !important;
}

.ptool A.pcalendar::after,
.ptool A.ptasks::after,
.ptool A.pcontacts::after,
.ptool A.pfiles::after,
.ptool A.pwebpages::after,
.ptool A.pbookmark::after,
.ptool A.palbums::after,
.ptool A.pblogs::after,
.ptool A.ppreferences::after,
.ptool A.peportfolio::after {
    content: "";
    position: absolute;
    left: 5px;
    width: 30px;
    height: 30px;
    filter: brightness(0) invert(1);
    background-repeat: no-repeat;
}

li[id^="ccSCS22\."]>div>a[style]::before,
li.ccQItem.account>a::before,
li.ccQItem.logout>a::before {
    content: "";
    position: absolute;
    left: 15px;
    width: 30px;
    height: 30px;
    filter: brightness(0) invert(1);
    background-repeat: no-repeat;
}

li.ccQItem.account>a::before {
    background-size: 22px;
    background-image: url(/i/32g/profile.png);
}

li.ccQItem.logout>a::before {
    background-size: 22px;
    background-image: url(/i/32g/logout.png);
}

.ptool A.pcalendar::after {
    background-image: url(i/24/calendar.png);
}

.ptool A.ptasks::after {
    background-image: url(i/24/tasks.png);
}

.ptool A.pcontacts::after {
    background-image: url(i/24/contacts.png);
}

.ptool A.pfiles::after {
    background-image: url(i/24/files.png);
}

.ptool A.pwebpages::after {
    background-image: url(i/24/webpages.png);
}

.ptool A.pbookmark::after {
    background-image: url(i/24/bookmark.png);
}

.ptool A.palbums::after {
    background-image: url(i/24/albums.png);
}

.ptool A.pblogs::after {
    background-image: url(i/24/blogs.png);
}

.ptool A.ppreferences::after {
    background-image: url(i/24/preferences.png);
}

.ptool A.peportfolio::after {
    background-image: url(i/32g/studentEPortfolio.png);
}

li#ccSCS22\.0-23\.0_1>div>a[style]::before {
    background-image: url(/i/32g/fullMenu.png);
}

li#ccSCS22\.0-23\.0_2>div>a[style]::before {
    background-image: url(/i/32g/home.png);
}

li#ccSCS22\.0-23\.0_5>div>a[style]::before {
    background-image: url(/i/32g/announcements.png);
}

li#ccSCS22\.0-23\.0_55>div>a[style]::before {
    background-image: url(/i/32g/studentTools.png);
}

li#ccSCS22\.0-23\.0_14>div>a[style]::before {
    background-image: url(/i/32g/syllabus.png);
}

li#ccSCS22\.0-23\.0_13>div>a[style]::before {
    background-image: url(/i/32g/sharedFiles.png);
}

li#ccSCS22\.0-23\.0_7>div>a[style]::before {
    background-image: url(/i/32g/calendar.png);
}

li#ccSCS22\.0-23\.0_11>div>a[style]::before {
    background-image: url(/i/32g/messageBoard.png);
}

li#ccSCS22\.0-23\.0_56>div>a[style]::before {
    background-image: url(/i/32g/blog.png);
}

.ccQList>li.ccQItem.email::before,
.ccQList>LI.ccQItem.calendar::before,
.ccQList>LI.ccQItem.tasks::before,
.ccQList>LI.ccQItem.contacts::before,
.ccQList>LI.ccQItem.files::before,
.ccQList>LI.ccQItem.webpages::before,
.ccQList>LI.ccQItem.bookmark::before,
.ccQList>LI.ccQItem.albums::before,
.ccQList>LI.ccQItem.blogs::before {
    position: absolute;
    margin: 7px 7px;
    filter: brightness(0) invert(90%);
}

.ccQList>li.ccQItem.email::before {
    content: url(/i/32g/email.png);
}
.ccQList>LI.ccQItem.calendar::before {
    content: url(/i/32g/calendar.png);
}
.ccQList>LI.ccQItem.tasks::before {
    content: url(/i/32g/tasks.png);
}
.ccQList>LI.ccQItem.contacts::before {
    content: url(/i/32g/contacts.png);
}
.ccQList>LI.ccQItem.files::before {
    content: url(/i/32g/files.png);
}
.ccQList>LI.ccQItem.webpages::before {
    content: url(/i/32g/webpages.png);
}
.ccQList>LI.ccQItem.bookmark::before {
    content: url(/i/32g/bookmarks.png);
}
.ccQList>LI.ccQItem.albums::before {
    content: url(/i/32g/photoAlbums.png);
}
.ccQList>LI.ccQItem.blogs::before {
    content: url(/i/32g/blog.png);
}

li[id^="R22\."]::before,
li[id^="F22\."]::before {
    content: "";
    width: 20px;
    height: 28px;
    padding: 7px 0;
    position: absolute;
    filter: brightness(0) invert(1);
    background-size: 16px;
    background: url(/img/list_dot.gif) no-repeat left !important;
}

#ccNavShortcut .ccSCCollapse::after,
#ccNavShortcut .ccSCExpand::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    filter: contrast(110%) invert(80%) brightness(150%);
    background: url(/img/qp/arrowLeft.png) no-repeat !important;
}

.icon-msg::after,
.ccStudent::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    filter: brightness(0) invert(95%);
}

.icon-msg::after {
    background: url(i/icon-msg.png) no-repeat;
}

.ccStudent::after {
    background: url(/i/student.png) no-repeat;
}

div.ccSCGroupInd>a[style]::after {
    content: ">";
    color: #bbbbbb;
    position: absolute;
}

#mcTabs #newTabBtn:before,
#mcTabs #cus:before,
#mcTabs #actIcon:before,
span.msgAlert::before,
span.ccArrowDown,
span.ccArrowUp,
.ccQList>li.ccQItem .student,
.annAlert:before,
img[src^="i/members.png"],
img[src^="/i/location.png"],
img[src^="/i/cruiserassist.png"],
img[src^="/i/edit.png"],
img[src^="/i/search.png"],
img[src^="/i/add.png"],
img[src^="/i/xpop.png"],
img[src^="/i/extra.png"],
img[src^="/i/refresh.png"],
img[src^="/i/print.png"],
img[src^="/i/setting.png"],
img[src^="/i/subscribe.png"],
img[src^="/i/unsubscribe.png"],
img[src^="i/subscribe.png"],
img[src^="i/setting.png"],
img[src^="/i/mark.png"],
img[src^="/i/unmark.png"],
img[src^="/i/mail.png"] {
    filter: brightness(0) invert(90%);
}

img[src^="/img/loading2.gif"] {
    filter: brightness(0) invert(1);
}

/* Writing Dialog */

#detail_tbl {
    background-color: #4f5359;
}

#detail_toolbargroup {
    background-color: #e9e9e9 !important;
}