/* Author: Sean Wu
** NCU CSIE, Taiwan 2018
*/

@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
body {
    background-color: #232429 !important;
    font-family: 'Noto Sans TC', sans-serif !important;
}

body>p {
    text-align: right;
    margin: 0;
}

body>p>font {
    color: #bbbbbb !important;
}

tr {
    height: 40px !important;
}

td {
    padding: 8px 15px 8px 15px !important;
    color: #e9e9e9;
    font-family: inherit !important;
    font-size: 16px !important;
}

center {
    margin-bottom: 70px;
}

.list {
    background-color: #363940 !important;
}

.list1 {
    background-color: #4F5359 !important;
}

.list1:hover {
    opacity: .85;
    transition: background-color 0.2s ease !important;
}

.list3 {
    background-color: #2d364b !important;
}

tr.selected {
    background-color: rgba(64, 124, 255, 0.8) !important;
}
